/*
Aufgabe 3: Animation: Schneegestöber
Name: Müge Kosar
Matrikel: 256213
Datum: 05.11.2017

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
    background-color: #ffffff;
}