/*
Aufgabe 8
Name: Müge Kosar
Matrikel: 256213
Datum: 10.12.2017

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

div {
	position: absolute;
	display: inline;
}