/*
Aufgabe 5
Name: Müge Kosar
Matrikel: 256213
Datum: 12.11.2017

Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
    background-color: #ffffff;
}